@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #00557783;
}

h1 {
    background-color: #C4C4C4;
    text-align: center;
    color: #005677;
    word-spacing: 15px;
    letter-spacing: 10px;
}

h2 {
    color: #005677;
    background-color: #C4C4C4;
}

h3 {
    background-color: #005677;
    width: max-content;
}

picture {
    display: block;
    text-align: center;
    background-image: url(../img/bannerprogramacion.jpg);
}

footer {
    background-color: #005677;
    height: 37px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 100px
}

.footer-sobre-mi {
    margin-top: 450px;
}

.link {
    padding-top: 9px;
    padding-left: 26px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.datos-personales {
    font-weight: bold;
    font-style: italic;
}

main {
    margin-top: 100px;
}

img {
    max-width: 140px;
}

a {
    color: white;
}